<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
<!-- Start Header Section -->
<header class="header">
    <!-- Start Header Top -->
    <div class="bg-header-top">
        <div class="container">
            <div class="row">
                <div class="header-top">
                    <ul class="header-contact">
                        <!--							<li style="color: #effcff">Phone : +88017 923 970 659</li>-->
                        <!--							<li style="color: #effcff">Time :  Monday-Friday : 9:00am-6:00pm</li>-->
                    </ul>
                    <div class="log-reg">
                        <a href="/userlogin">Login</a> | Register
                    </div><
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Start Menu -->
    <div class="bg-main-menu menu-scroll">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <a class="show-res-logo" href="index.html"><img src="#" alt="logo" class="img-responsive" /></a>
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="../images/images.png" alt="logo" class="img-responsive" style="width: 30px;height: 28px;float: left"/><h4 style="float: right">启明中学生训练管理平台</h4></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/qtindex">主页</a></li>
                                <li><a href="/tips">提分技巧</a></li>
                                <li><a href="/classs">加入班级</a></li>
                                <li><a href="/theory">理论测试</a></li>
                                <li><a href="/about">关于我们</a></li>
                            </ul>
                        </div>
                    </nav>
                </div><!-- .main-menu -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- End Menu -->
    <div style="width: auto;height: 20px;background-color: #1E9FFF"></div>
</header>
<div style="background-color: #35ad4f;width: 100%;height: 600px" align="center">

<!--    <div>-->
<!--        <div class="left" style="float: left;width: 50%;height: auto;background-color: #1E4592">-->

<!--        </div>-->
<!--        <div class="right" style="float: right;width: 50%;height: auto;background-color: #2F4056">-->

<!--    </div>-->
<!--</div>-->

<div class="footer">
    <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no src="/fooler" width="100%" height="auto"></iframe>
</div>
</body>
</html>