<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="dns-prefetch" href="http://cdn01.weipaitang.com/"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <title>加入班级</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
        }
        .sort {
            font-size: 18px;
            margin: 40px;
            padding-top: 10px;
        }
    </style>
</head>


<body>
<!-- Start Header Section -->
<header class="header">
    <!-- Start Header Top -->
    <div class="bg-header-top">
        <div class="container">
            <div class="row">
                <div class="header-top">
                    <ul class="header-contact">
                        <!--							<li style="color: #effcff">Phone : +88017 923 970 659</li>-->
                        <!--							<li style="color: #effcff">Time :  Monday-Friday : 9:00am-6:00pm</li>-->
                    </ul>
                    <div class="log-reg">
                        <a href="/userlogin" style="color: #f3f3f3">Login</a> | <a href="/gouserregister"style="color: #f3f3f3">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Start Menu -->
    <div class="bg-main-menu menu-scroll">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <a class="show-res-logo" href="index.html"><img src="#" alt="logo" class="img-responsive"/></a>
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="../images/images.png" alt="logo"
                                                                  class="img-responsive"
                                                                  style="width: 30px;height: 28px;float: left"/><h4
                                    style="float: right">启明中学生训练管理平台</h4></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/qtindex">主页</a></li>
                                <li><a href="/tips">提分技巧</a></li>
                                <li><a href="/classs">加入班级</a></li>
                                <li><a href="/about">关于我们</a></li>
                                <li><a href="/myInfo">我的信息</a></li>
                            </ul>
                        </div>
                    </nav>
                </div><!-- .main-menu -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- End Menu -->
    <div style="width: auto;height: 20px;background-color: #1E9FFF"></div>
</header>
<div class="mainbody">
    <div class="title" style="background-color: #1E4592;width: 100%;height: 100px">
        <ul class="nav navbar-nav">
            <li class="sort"><a href="/classs">全部班级</a></li>
            <li class="sort"><a href="/basketball">篮球</a></li>
            <li class="sort"><a href="/longrun">长跑</a></li>
            <li class="sort"><a href="/swin">游泳</a></li>
            <li class="sort"><a href="/Jump">立定跳远</a></li>
            <li class="sort"><a href="/Pullup">引体向上</a></li>
            <li class="sort"><a href="/Solidball">实心球</a></li>
            <li><input type=text autofocus id="search_input">
                <button class="anniu" onclick="searchClass()">搜索</button></li>
        </ul>

    </div>
    <div style="padding-top: 10px">
        <table style="padding-top: 20px;padding-bottom: 20px">
            <tr th:each="class:${list}" style="background-color: #00b4ef;width: 100%;height: 100px;">
                <td style="background-color: rgba(93,106,92,0.93);width: 130px;height: 130px;padding: 20px 20px"><img
                        src="../images/260x260.jpg" alt="logo" class="img-responsive"
                        style="width: 45px;height: 45px;float: left;"/></td>
                <td style="padding-bottom: 40px">班级名：</td>
                <td align="center" th:text="${class.class_name}" style="padding-bottom: 40px"></td>
                <td style="padding-top: 40px">报名截止时间</td>
                <td align="center" th:text="${class.dataline}" style="padding-top: 40px"></td>
                <td style="padding-top: 40px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目：</td>
                <td align="center" th:text="${class.project}" style="padding-top: 40px"></td>
                <td style="padding-top: 40px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教练名：</td>
                <td align="center" th:text="${class.coachs.coach_name}" style="padding-top: 40px"></td>
                <td style="padding-top: 40px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价格：</td>
                <td align="center" th:text="${class.amount}" style="color: #ac2925;padding-top: 40px"></td>
                <td>
                    <button><a th:href="@{'/classdetails/'+${class.classid}}">加入班级</a></button>
                </td>
            </tr>

        </table>
    </div>

</div>



<div class="footer">
    <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no src="/fooler" width="100%"
            height="auto"></iframe>
</div>
</div>
<script>

    function searchClass() {
        var project = $("#search_input").val();
        alert(project);
        $.post("/searchClass",{content:project},function (res) {
            if (res==true) {
                window.location.href="/searchClass";
            }else {
                alert("没有收索到相关班级");
            }
        })
    }

</script>
</body>
</html>