<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加评论</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link href="../assets/onepage/css/style.css" rel="stylesheet">
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
    <style>
        .classInfo{
            font-size: 150%;
            background-color: rgba(255,167,196,0.04);
        }
        .btn1{
            border-radius: 3px;
            height: 37px;
            width: 258px;
            padding: 1px 7px 2px 7px;
            box-sizing: content-box;
            border: none;
            background-color:rgb(136,210,48) ;
            color: white;
            font-size: 17px;
        }
    </style>
</head>
<body>
<div style="width: 70%;height: auto;margin:0 auto;background-color: rgba(59,106,103,0.07);padding-top: 20px">
    <div class="prices-block content content-center" id="myInfo">
        <div class="container">
            <h2 class="margin-bottom-50" id="info"><strong>教练</strong>详情</h2>
            <div class="row">
                <div class="list-group" th:each="coach:${alist}">
                    <p class="list-group-item list-group-item-action list-group-item-secondary" style="font-size: 180%"><span>教练名:</span>&nbsp;&nbsp;&nbsp;<span th:text="${coach.coach_name}"></span></p>
                    <p class="list-group-item list-group-item-action list-group-item-success" style="font-size: 180%"><span>性别:</span>&nbsp;&nbsp;&nbsp;<span  th:text="${coach.coach_sex}"></span></p>
                    <p class="list-group-item list-group-item-action list-group-item-danger" style="font-size: 180%"><span>擅长项目:</span>&nbsp;&nbsp;&nbsp;<span th:text="${coach.touch_project}"></span></p>
                    <p class="list-group-item list-group-item-action list-group-item-warning" style="font-size: 180%"><span>教练电话:</span>&nbsp;&nbsp;&nbsp;<span th:text="${coach.phone}"></span></p>
                    <p class="list-group-item list-group-item-action list-group-item-info" style="font-size: 180%"><span>教练邮箱:</span>&nbsp;&nbsp;&nbsp;<span th:text="${coach.email}"></span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="prices-block content content-center">
        <div class="container">
            <h2 class="margin-bottom-50" > 对教练<strong>的评价</strong></h2>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="classInfo" style="background-color: rgba(90,106,56,0.48)" scope="col">用户</th>
                        <th class="classInfo" style="background-color: rgba(90,106,56,0.48)" scope="col">评价教练的内容</th>
<!--                        <th class="classInfo" scope="col">评价时间</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="evaluate:${list}">
                        <th class="classInfo" th:text="${evaluate.users.account}"></th>
                        <th class="classInfo" th:text="${evaluate.content}"></th>
<!--                        <th class="classInfo" th:text="${assess.updatetime}"></th>-->
                    </tr>
                    </tbody>
                </table>
                <div class="title" >
                    <span style="font-size: 200%;color: rgba(255,140,175,0.64)" >添加评论</span>
                </div>
                <div class="main">
                    <input type="hidden" id="userid" th:value="${userid}">
                    <textarea style="width: 50%;height: auto;margin:0 auto;" cols="30" rows="3" class="input" placeholder="请输入内容" id="content"/></textarea><br><br>
                    <input type="hidden" id="coachid" th:value="${coachid}">
                    <button onclick="goAddField()" name="sub" class="btn1" >评论</button>
                    <br><br>
                    <button class="btn1" name="button" onclick="javascript:history.back(-1);">返回上一页</button>
                </div>
                <br><br><br><br><br><br>
            </div>


            </div>
        </div>
    </div>


</div>

</body>
<script>
    function goAddField() {
        var coachid = $("#coachid").val();
        var content = $("#content").val();
        var userid = $("#userid").val();
        $.post("/addEvaluate", {userid: userid, content: content, coachid: coachid}, function (res) {
            if (res === true) {
                alert("添加成功");
                window.location.href = "/evaluationCoach";
            } else {
                alert("添加失败，请检查数据重试！");
            }
        })
    }
</script>
</html>