<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
<div class="header">
    <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no src="/qtindex" width="100%" height="auto"></iframe>
</div>
<div>
    <div class="left" style="float: left;width: 50%;height: auto;background-color: #1E4592">
        <div class="loop">
            <input type="radio" name="slider" id="first">
            <input type="radio" name="slider" id="second">
            <input type="radio" name="slider" id="third">

            <div id="wrap">
                <ul id="slider">
                    <li><img src="../images/images.png" alt="logo"/></li>
                    <li><img src="../images/images.png" alt="logo"/></li>
                    <li><img src="../images/images.png" alt="logo"/></li>
                </ul>
            </div>
            <div id="opts">
                <label for="first">1</label>
                <label for="second">2</label>
                <label for="third">3</label>
            </div>
        </div>
    </div>
    <div class="right" style="float: right;width: 50%;height: auto;background-color: #2F4056">
        <div class="xc" ><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;启明教育培训机构专注于中学生体能训练.每年的中招体育考试都会放在中招前的两个月左右，4月份开考，很多学生和家长认为只要腿脚勤快，考前多跑几圈多练几次就可以拿到满分，也正因为如此，把平时大好的锻炼时间耽误了。

            体质的提升靠的是日积月累的锻炼，即便将体育纳入中考，如果仅仅只是考前突击锻炼，对于体质提升并没有什么作用，相反可能因为运动量过大对身体造成损伤。因此在孩子锻炼的过程中一定要注意科学合理的训练，避免给孩子带来不必要的伤害。

            中考体育项目大致分为：足篮排、立定跳远、引体向上、仰卧起坐、长短跑、跳绳、游泳、实心球等，每项的练习方法与技巧都有不同！本专题针对各个体育项目的训练方法、技巧等等都有详细介绍。</p>
        </div>
    </div>
</div>

<div class="silder_2 clearfix" style="margin-top: 30px;">
    <div class="front">
        <div class="fontLeft"></div>
        <div class="fontRight">
            <p>初三体育锻炼的四个阶段</p>
        </div>
    </div>
    <div class="list">
        <div class="top_1">
            <p>  每年的中招体育考试都会放在中招前的两个月左右，4月份开考，不要以为时间还很长，到时临阵磨磨枪，拿个四五十分小意思~现在一个很常见的误区就是：很多学生和家长认为只要腿脚勤快，考前多跑几圈多练几次就可以拿到满分，也正因为如此，把平时大好的锻炼时间耽误了。
            </p>
        </div>
        <div class="top_2">
            <div class="top_2Title"><p>1</p></div>
            <div class="top_2text"><p>初三体育锻炼第一阶段：9月-10月</p></div>

        </div>
        <div class="footerText">
            <p>本阶段约2个月，主要进行速度、力量、弹跳、耐力和灵敏等身体素质的全面综合训练，为形成较全面的身体素质打好基础。在教学训练中应采用各种训练方法和手段，努力提高身体各器官的运动机能水平。在全面发展素质的同时，一般应以发展速度、弹跳为重点，应以中等运动训练量为主。
            </p>
        </div>
        <div class="top_2">
            <div class="top_2Title"><p>2</p></div>
            <div class="top_2text"><p>中考体育锻炼第二阶段：11月-1月</p></div>

        </div>
        <div class="footerText">
            <p>第二阶段(11月-1月)：此阶段应在第一阶段的基础上，注重发展和提高力量素质，特别是上肢力量、下肢力量及腰腹肌力量，并结合跑、跳、投等考试项目，采用各种行之有效的手段，如杠铃、沙包、健身器等，发展各个项目必须具备的专项素质，尽快提高掌握各项技术的速度。</p>
            　　<p>本阶段运动量应以大运动量训练为主。由于在该阶段的一月份，也是学生学习任务繁重，面临紧张期末复习考试时期，训练应予调整，不要与文化复习考试争时间，但我们可争取每个星期天安排一定的训练内容。</p>
            　　<p>这样既不间断训练，又不影响文化学习，值得一提的是，在期末考试之后，正是寒假休息之时，我们可以利用寒假的充裕时间，进行较大负荷的训练或布置较大负荷的家庭训练任务。
        </p>
        </div>
        <div class="top_2">
            <div class="top_2Title"><p>3</p></div>
            <div class="top_2text"><p>中考体育锻炼第三阶段：2月-3月</p></div>

        </div>
        <div class="footerText">
            <p>第三阶段(2月-3月)：该阶段时间约2个月。要在第二阶段大运动量训练的基础上，调整运动强度和运动负荷，并逐步以提高和巩固运动成绩为目的。</p>
            　　<p>由于此阶段一般尚未公布考试项目，因此，在有可能要考的项目，我们都应认真抓好，不可提前“抓题”。</p>
            　　<p>在教学训练中，坚持一般身体素质与专项身体素质相结合，为适应考试做好充分准备，当然，此阶段的训练强度应偏大。
        </p>
        </div>
        <div class="top_2">
            <div class="top_2Title"><p>4</p></div>
            <div class="top_2text"><p>中考体育锻炼第四阶段：4月-5月</p></div>

        </div>
        <div class="footerText">
            <p>第四阶段(4月-5月)：本阶段为考试前的最后一个阶段。</p>
            　　<p>一般来说，各省、市均已公布了当年的考试项目，考生应在继续提高身体素质和运动水平的基础上，进行完整技术练习。由于我们面临的是考试而不是比赛，因此，我们在此阶段应多采用区别对待，因人而异教学原则。</p>
            　　<p>例如某些学生已经能在其中一项考试项目上能够轻松达到满分规定线，那么我们就可以让这一部分学生多化些精力去练习他的弱项，而不必在已经达满分的项目上下功夫了;而对于一些体育成绩相对较差、素质相对较弱的同学来说，则应以充分掌握好技术动作的前提下，结合个人特点，稳打稳抓。从他相对较容易进步的项目上进行训练，结合个人特点，稳打稳抓。从他相对较容易进步的项目上进行训练，以激发他们斗志，切不可因不行而放弃。</p>
            　　<p>考试前，有条件的学校可以适当地安排一个短时期进行集训，如考试前的全国大假“五一”节，便是一个最好的集训时间，学校还可以举行一些小型多样的比赛、模拟考试训练等，从运动技能、技巧及心理承受能力上为学生适应考试做好充分准备。
        </p>
        </div>
    </div>
</div>


</body>
</html>