<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提分技巧</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
<!-- Start Header Section -->
<header class="header">
    <!-- Start Header Top -->
    <div class="bg-header-top">
        <div class="container">
            <div class="row">
                <div class="header-top">
                    <ul class="header-contact">
                        <!--							<li style="color: #effcff">Phone : +88017 923 970 659</li>-->
                        <!--							<li style="color: #effcff">Time :  Monday-Friday : 9:00am-6:00pm</li>-->
                    </ul>
                    <div class="log-reg">
                        <a href="#">Login | Register</a>
                    </div><
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Start Menu -->
    <div class="bg-main-menu menu-scroll">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <a class="show-res-logo" href="index.html"><img src="#" alt="logo" class="img-responsive" /></a>
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="../images/images.png" alt="logo" class="img-responsive" style="width: 30px;height: 28px;float: left"/><h4 style="float: right">启明中学生训练管理平台</h4></a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/qtindex">主页</a></li>
                                <li><a href="/tips">提分技巧</a></li>
                                <li><a href="/classs">加入班级</a></li>
                                <li><a href="/theory">理论测试</a></li>
                                <li><a href="/about">关于我们</a></li>
                            </ul>
                        </div>
                    </nav>
                </div><!-- .main-menu -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- End Menu -->
    <div style="width: auto;height: 20px;background-color: #1E9FFF"></div>
</header>
<div>
    <div class="left" style="float: left;width: 50%;height: auto;background-color: aqua">
        <div class="silder_1 clearfix">
            <div class="front">
                <div class="fontLeft"></div>
                <div class="fontRight">
                    <p>各项目训练方法及高分技巧</p>
                </div>
            </div>
            <div class="list">
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449478.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>长跑项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449528.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>实心球项目训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449466.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>立定跳远的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449463.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>仰卧起坐的训练方法</p>
                    </div></a>
                </div>
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449459.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>引体向上的训练方法</p>
                    </div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449517.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>足球项目的训练方法</p>
                    </div></a>
                </div>

            </div>

        </div>

    </div>
    <div class="right" style="float: right;width: 50%;height: auto;background-color: #2F4056">
        <div class="silder_1 clearfix">
            <div class="front">
                <div class="fontLeft"></div>
                <div class="fontRight">
                    <p>各项目训练方法及高分技巧</p>
                </div>
            </div>
            <div class="list">
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449526.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>排球项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449633.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>跳绳项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449514.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>篮球项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449482.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>短跑项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449506.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>游泳项目的训练方法</p></div></a>
                </div>
                <div class="list_1 clearfix" style="background:#fff;">
                    <a href="http://m.eol.cn/zhongkao/201609/t20160918_1449474.shtml"><div class="logo_1"><img src="../images/logo_4.png" /></div><div class="pp"><p>三级蛙跳的训练方法</p></div></a>
                </div>

            </div>

        </div>

    </div>
    </div>
</div>
<div class="footer">
    <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no src="/fooler" width="100%" height="auto"></iframe>
</div>
</body>
</html>