<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提分技巧</title>
</head>
<body>
<div class="header">
    <iframe MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no src="/qtindex" width="100%" height="auto"></iframe>
</div>
<div>
    <div class="left" style="float: left;width: 50%;height: auto;background-color: #35ad4f">

    </div>
    <div class="right" style="float: right;width: 50%;height: auto;background-color: #2F4056">
        <div class="xc" >
            <p>启明教育培训机构专注于中学生体能训练</p>
        </div>
    </div>
</div>
</body>
</html>