<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jz.table.dao.ClassDao">
    <select id="FindAll" resultType="com.jz.table.entity.ClassInfo">
        select *
        from class;
    </select>

    <select id="selectCoach" resultType="com.jz.table.entity.ClassInfo">
        select *
        from class
        where coachid = #{id};
    </select>

    <insert id="addClass" parameterType="com.jz.table.entity.ClassInfo">
        INSERT INTO class(project, class_name, class_num, statu, coachid, addtime, traintime, dataline, classgoal,
                          trainnum, amount)
        VALUES (#{project}, #{class_name}, #{class_num}, 0, #{coachid}, #{addtime}, #{traintime}, #{dataline},
                #{classgoal}, #{trainnum}, #{amount})
    </insert>


    <update id="updateClass" parameterType="com.jz.table.entity.ClassInfo">
        update class
        SET project=#{project},
            class_name=#{class_name},
            class_num=#{class_num}
        WHERE classid = #{classid}
    </update>

    <delete id="delClass" parameterType="java.lang.Integer">
        DELETE
        from class
        WHERE classid = #{id}
    </delete>

    <resultMap id="MyClassById" type="com.jz.table.entity.ClassInfo">
        <id column="classid" property="classid"></id>
        <result column="coachid" property="coachid"></result>
        <result column="userid" property="userid"></result>
        <result column="class_name" property="class_name"></result>
        <result column="class_num" property="class_num"></result>
        <result column="project" property="project"></result>
        <result column="statu" property="statu"></result>
        <result column="addtime" property="addtime"></result>
        <result column="dataline" property="dataline"></result>
        <result column="traintime" property="traintime"></result>
        <result column="classgoal" property="classgoal"></result>
        <result column="trainnum" property="trainnum"></result>
        <result column="amount" property="amount"></result>
        <collection property="coachs" ofType="com.jz.table.entity.Coach">
            <id column="coachid" property="coachid"></id>
            <result column="coach_name" property="coach_name"></result>
            <result column="coach_sex" property="coach_sex"></result>
            <result column="touch_project" property="touch_project"></result>
            <result column="phone" property="phone"></result>
            <result column="price" property="price"></result>
        </collection>
    </resultMap>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.jz.table.entity.ClassInfo">
        SELECT *
        FROM class
        where classid = #{id}
    </select>

    <select id="getClassByCoachId" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.coachid = #{id}
    </select>

    <select id="openClass" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0;
    </select>
    <select id="sortbasketball" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          and s.project = "篮球";
    </select>
    <select id="sortSwim" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          and s.project = "游泳";
    </select>

    <select id="sortLongrun" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          AND (s.project = "女子800m" OR s.project = "男子1000m");
    </select>
    <select id="sortJump" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          AND s.project = "立定跳远";
    </select>

    <select id="sortPullup" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          AND s.project = "引体向上";
    </select>

    <select id="sortSolidball" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          AND s.project = "实心球";
    </select>

    <select id="sortAllClass" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
    </select>

    <select id="searchClass" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.statu = 0
          AND (s.project = #{content}
            or s.class_name = #{content}
            or c.coach_name = #{content});
    </select>


    <select id="getClassId" resultMap="MyClassById">
        select *
        from class s
                 join coach c ON s.coachid = c.coachid
        WHERE s.classid = #{id}
    </select>

    <update id="closeclass" parameterType="com.jz.table.entity.ClassInfo">
        update class
        SET statu=1
        WHERE classid = #{classid}
    </update>

    <select id="selectClassPage" resultType="com.jz.table.entity.ClassInfo" >
        SELECT * FROM class limit #{param1}, #{param2};
    </select>

    <select id="countClassPage" resultType="int">
        SELECT count(*) FROM class
    </select>
</mapper>