<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jz.table.dao.CoachDao">

    <select id="coachLogin" parameterType="com.jz.table.entity.Coach" resultType="com.jz.table.entity.Coach">
        select * FROM coach WHERE coach_name = #{coach_name} AND coach_pwd = #{coach_pwd};
    </select>

    <select id="FindAll" resultType="com.jz.table.entity.Coach">
        select * from coach
    </select>

    <select id="selectCoach" resultType="com.jz.table.entity.Coach">
        select * from coach where coachid=#{id};
    </select>

        <insert id="addCoach"  parameterType="com.jz.table.entity.Coach">
           INSERT INTO coach(coach_name,coach_pwd,coach_sex,touch_project,phone,email) VALUES (#{coach_name},#{coach_pwd},#{coach_sex},#{touch_project},#{phone},#{email})
        </insert>

    <insert id="addCoaches" parameterType="com.jz.table.entity.Coach">
        INSERT INTO coach(coach_name,coach_pwd)
        VALUES (#{coach_name}, #{coach_pwd})
    </insert>

        <select id="findById" parameterType="java.lang.Integer" resultType="com.jz.table.entity.Coach">
          SELECT  * FROM coach where coachid = #{id}
        </select>

        <update id="updateCoach" parameterType="com.jz.table.entity.Coach">
          update  coach SET coach_name=#{coach_name},coach_pwd=#{coach_pwd},coach_sex=#{coach_sex},touch_project=#{touch_project},phone=#{phone},email=#{email} WHERE coachid = #{coachid}
        </update>

        <delete id="delCoach" parameterType="java.lang.Integer">
         DELETE from coach WHERE coachid = #{id}
        </delete>
    <select id="selectCoachPage" resultType="com.jz.table.entity.Coach" >
        SELECT * FROM coach limit #{param1}, #{param2};
    </select>

    <select id="countCoachPage" resultType="int">
        SELECT count(*) FROM coach
    </select>

    <select id="searchCoach" resultType="com.jz.table.entity.Coach" >
        select * from coach WHERE coach_name LIKE #{param1} limit #{param2}, #{param3};
    </select>


</mapper>