<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加班级</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="wrap" style="height: 100%"><!--登录框的最外部的框框-->
    <div class="title">
        添加班级信息
    </div>
    <div class="main">
        <input class="input"  placeholder="请输入班级名" id="name" type="text"/><br><br>
        <input class="input"  placeholder="请输入教练ID" id="coachid" type="text"/><br><br>
        <input class="input" placeholder="请输入班级人数" id="number" type="text"/><br><br>
        <input class="input" placeholder="请输入项 目" id="project" type="text"/><br><br>
        <input class="input" placeholder="请输入班级目标" id="goal" type="text" /><br><br>
        <div><p>选择训练时间</p></div>
        <select class="input" id="longtime">
            <option value="1">一周</option>
            <option value="2">二周</option>
            <option value="3">三周</option>
            <option value="4">四周</option>
            <option value="5">五周</option>
            <option value="6">六周</option>
        </select><br><br>
        <div><p>选择训练次数</p></div>
        <select class="input" id="num">
            <option value="1">一周一次</option>
            <option value="2">一周两次</option>
            <option value="3">一周三次</option>
            <option value="4">一周四次</option>
            <option value="5">一周五次</option>
            <option value="6">一周六次</option>
            <option value="7">一周七次</option>
        </select><br><br>
        <input class="input" placeholder="请输入截止开班天数" id="dataline" type="text"/><br><br>
        <input class="input" placeholder="请输入加入班级总价格" id="amount" type="text"/><br><br>
        <button  onclick="goAddField()" name="sub" id="btn1">添加</button><br><br>
        <input  id="btn2"  type="reset" value="重置"></input>

    </div>
    <br><br>
</div>
</body>
<script>
    var date = new Date();
    var sep = "-";
    var s=":"
    var year = date.getFullYear(); //获取完整的年份(4位)
    var month = date.getMonth() + 1; //获取当前月份(0-11,0代表1月)
    var day = date.getDate(); //获取当前日
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    if (month <= 9) {
        month = "0" + month;
    }
    if (day <= 9) {
        day = "0" + day;
    }
    var addtime = year + sep + month + sep + day +" "+ hours + s+ minutes + s + seconds;

    function goAddField() {
        var days =$("#dataline").val();
        var numbers=parseInt(days)
        date.setTime(date.setDate(date.getDate()+numbers));
        dataline=date.getFullYear() + sep + (date.getMonth() + 1) + sep + date.getDate()+ ' ' + date.getHours() + s + date.getMinutes() + s + date.getSeconds();

        var d = new Date(dataline);//当前的时间
        var longtime = jQuery("#longtime").val();
        d.setTime(d.setDate((d.getDate()+(longtime*7))));
        data=d.getFullYear() + sep + (d.getMonth() + 1) + sep + d.getDate() + ' ' + d.getHours() + s + d.getMinutes() + s + d.getSeconds();
        var project = $("#project").val();
        var name = $("#name").val();
        var number = $("#number").val();
        var coachid = $("#coachid").val();
        var trainnum = $("#num").val();
        var goal = $("#goal").val();
        var amount1 = $("#amount").val();
        $.post("/addClass",{project:project,class_name:name,class_num:number,coachid:coachid,addtime:addtime,traintime:data,dataline:dataline,classgoal:goal,trainnum:trainnum,amount:amount1},function (res){
            if (res===true){
                alert("添加成功")
            }else {
                alert("添加失败，请检查数据重试！");
            }
        })
    }
    function refresh() {
        window.location.href = "/classList"
    }
</script>
</html>