<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>

<body style="background-color: #f3f3f3">
<div style="width: auto;height: 30px"></div>
<div class="kj">
    <form onsubmit="return search()">
        <input type=text class="ssk" autocomplete="off" autofocus id="search_input">
        <button class="anniu" onclick="return search()">搜索</button>
    </form>
</div>
<br><br><br><br>
<div style="width: auto;height: 30px;background-color:#9F9F9F"></div>
<h1>管理员基本信息维护</h1><button  onclick="refresh()" class="refresh">刷新</button><br>
<table width="100%" border="1" cellspacing="0">
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>密 码</th>
        <th>操 作</th>
    </tr>
    <tr th:each="admin:${list}">
        <td  align="center" th:text="${admin.id}"></td>
        <td  align="center" th:text="${admin.name}"></td>
        <td  align="center" th:text="${admin.password}"></td>
        <td  align="center"><a th:href="@{'/goupAdmin/'+${admin.id}}">修改</a>
            <a th:href="@{'/godelAdmin/'+${admin.id}}">删除</a>
        </td>
    </tr>
    </thead>
</table>
<ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a class="active" href="#">1</a></li>
    <li><a  href="#">2</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">»</a></li>
</ul>
</body>
<script>
    function refresh() {
        window.location.href = "/AdminList"
    }
</script>
</html>