<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" href="/css/layui.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>

<body style="background-color: #f3f3f3">
<div style="width: auto;height: 30px"></div>
<div class="kj">
    <input type=text class="ssk" autocomplete="off" autofocus id="search">
    <button class="anniu" onclick="search_coach()">搜索</button>
</div>
<br><br>

<h1 style="font-size: 40px">班级基本信息维护</h1><button  onclick="refresh()" class="refresh">刷新</button><br>
<table class="layui-table">
    <thead>
    <tr>
        <th>id</th>
        <th>班级名</th>
        <th>班级人数</th>
        <th>项目</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>开始训练时间</th>
        <th>训练结束时间</th>
        <th>班级目标</th>
        <th>每周训练次数</th>
        <th>班级价格</th>
        <th>操 作</th>
    </tr>
    <tr th:each="class:${classListPage}">
        <td  align="center" th:text="${class.classid}"></td>
        <td  align="center" th:text="${class.class_name}"></td>
        <td  align="center" th:text="${class.class_num}"></td>
        <td  align="center" th:text="${class.project}"></td>
        <td  align="center" th:text="${class.statu}"></td>
        <td  align="center" th:text="${class.addtime}"></td>
        <td  align="center" th:text="${class.dataline}"></td>
        <td  align="center" th:text="${class.traintime}"></td>
        <td  align="center" th:text="${class.classgoal}"></td>
        <td  align="center" th:text="${class.trainnum}"></td>
        <td  align="center" th:text="${class.amount}"></td>
        <td  align="center"><a th:href="@{'/goupClass/'+${class.classid}}">修改</a><br>
            <a th:href="@{'/godelClass/'+${class.classid}}">删除</a>
        </td>
    </tr>
    </thead>
</table>
<div th:value="${classPageCount}">
    <ul th:each="index : ${#numbers.sequence(1, classPageCount)}" class="pagination" style="margin: 5px">
        <li><a th:href="@{'/classList?page='+${index}}"> [(${index})]</a></li>
    </ul>
</div>
</body>
<script>
    function search_coach(){
        var text=$("#search").val();
        window.location.href ="/searchClasss/"+text
    }
    function refresh() {
        window.location.href = "/classList"
    }

</script>
</html>