<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" href="/css/layui.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>

<body style="background-color: #f3f3f3">
<div style="width: auto;height: 30px"></div>
<div class="kj">
    <input type=text class="ssk" autocomplete="off" autofocus id="search">
    <button class="anniu" onclick="search_coach()">搜索</button>
</div>
<br><br><br><br><br><br><br><br>
<div style="width: auto;height: 30px;background-color:#9F9F9F"></div>

<h1 style="font-size: 40px">教练基本信息维护</h1><button  onclick="refresh()" class="refresh">刷新</button><br>
<table class="layui-table">
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>密 码</th>
        <th>性 别</th>
        <th>项 目</th>
        <th>电 话</th>
        <th>邮 箱</th>
        <th>操 作</th>
    </tr>
    <tr th:each="coach:${coachListPage}">
        <td  align="center" th:text="${coach.coachid}"></td>
        <td  align="center" th:text="${coach.coach_name}"></td>
        <td  align="center" th:text="${coach.coach_pwd}"></td>
        <td  align="center" th:text="${coach.coach_sex}"></td>
        <td  align="center" th:text="${coach.touch_project}"></td>
        <td  align="center" th:text="${coach.phone}"></td>
        <td  align="center" th:text="${coach.email}"></td>
        <td  align="center"><a th:href="@{'/goupCoach/'+${coach.coachid}}">修改</a>
            <a th:href="@{'/godelCoach/'+${coach.coachid}}">删除</a>
        </td>
    </tr>
    </thead>
</table>
<div th:value="${coachPageCount}">
    <ul th:each="index : ${#numbers.sequence(1, coachPageCount)}" class="pagination" style="margin: 5px">
        <li><a th:href="@{'/coachList?page='+${index}}"> [(${index})]</a></li>
    </ul>
</div>
</body>
<script>

    function search_coach(){
        var text=$("#search").val();
        window.location.href ="/searchCoach/"+text
    }
    function refresh() {
        window.location.href = "/coachList"
    }

</script>
</html>