<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改评论信息</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="wrap" style="height: 700px"><!--登录框的最外部的框框-->
    <div class="title">
        评论修改页面
    </div>
    <div class="main">
        <input  type="hidden" id="id" th:value="${evaluate.evaluate_id}"><br><br>
        <input class="input"  placeholder="请输入评论内容" id="content"  th:value="${evaluate.content}"/><br><br>
        <button id="btn1" onclick="goupdate()">修改</button><br><br>
        <button id="btn2" name="button"  onclick="javascript:history.back(-1);">返回</button>

    </div>
    <br><br>
</div>

</body>
<script>
    function goupdate() {
        var evaluate_id=$("#id").val();
        var content = $("#content").val();
        $.post("/updateEvaluate",{evaluate_id:evaluate_id,content:content},function (res) {
            if (res===true) {
                alert("修改成功");
                window.location.href="/evaluateList";
            }else {
                alert("修改失败，请检查数据重试！");
            }
        })
    }
</script>
</html>