<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改班级信息</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="wrap" style="height: 700px"><!--登录框的最外部的框框-->
    <div class="title">
        修改班级信息
    </div>
    <div class="main">
        <input  type="hidden" id="id" th:value="${class.classid}"><br><br>
        <input class="input"  placeholder="请输入班级名" id="name" th:value="${class.class_name}"/><br><br>
        <input class="input" placeholder="请输入班级人数" id="num" th:value="${class.class_num}"/><br><br>
        <input class="input" placeholder="请输入项 目" id="project" th:value="${class.project}"/><br><br>
        <button  onclick="goupdate()" name="sub" id="btn1">修改</button><br><br>
        <button id="btn2" name="button"  onclick="javascript:history.back(-1);">返回</button>

    </div>
    <br><br>
</div>

</body>
<script>
    function goupdate() {
        var classid=$("#id").val();
        var project = $("#project").val();
        var class_name = $("#name").val();
        var class_num = $("#num").val();
        $.post("/updateClass",{classid:classid,project:project,class_name:class_name,class_num:class_num},function (res) {
            if (res===true) {
                alert("修改成功");
                window.location.href="/classList";
            }else {
                alert("修改失败，请检查数据重试！");
            }
        })
    }
</script>
</html>