<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="sort">
    <select id="project" class="a1">
        <option value="1">长跑</option>
        <option value="2">游泳</option>
        <option value="3">篮球</option>
        <option value="4">立定跳远</option>
        <option value="5">引体向上</option>
        <option value="6">实心球</option>
    </select></li>
<li>
    <button onclick="goSelect()">确认</button>
</li>

<input type=text autofocus id="search_input">
<button class="anniu" onclick="searchuser()">搜索</button>
<table width="100%" border="1" cellspacing="0">
    <thead>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>年龄</th>
        <th>性别</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>
    <tr th:each="user:${alist}">
        <td align="center" th:text="${user.userid}"></td>
        <td align="center" th:text="${user.account}"></td>
        <td align="center" th:text="${user.user_pwd}"></td>
        <td align="center" th:text="${user.age}"></td>
        <td align="center" th:text="${user.sex}"></td>
        <td align="center" th:text="${user.phone}"></td>
        <td align="center" th:text="${user.email}"></td>
        <td align="center"><a class="button" th:href="@{'/goupdate/'+${user.userid}}">修改</a>
            &nbsp;
            <a class="button" th:href="@{'/godel/'+${user.userid}}">删除</a>
        </td>
    </tr>
    </thead>
</table>
<script>
    function goSelect() {
        var project1 = $("#project").val();
        alert(project1);
    }

    function searchuser() {
        var project = $("#search_input").val();
        alert(project);
    }

</script>
</body>
</html>